.main-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
  background:linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1));
  /* border: solid 1px #fff; */
}

.main-container .headings {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* border: solid 1px #fff; */
}

.main-container h1 {
  color: white;
  width: 100%;
  margin-top: 7vh;
  text-align: center;
  height: 7vh;
  font-size: 3.0rem;
  /* border: solid 1px #fff; */
}

.main-container h3 {
  color: white;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  /* border: solid 1px #fff; */
}

.recents-scroll {
  height: 40vh;
  width: 100%;
  margin-top: 5vh;
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  background: rgba(40, 40, 40, 0.5);
}

.recents {
  min-width: 200px;
  height: 95%;
  margin: 5px;
  scroll-snap-align: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 6fr 1fr;
  grid-row-gap: 2px;
  grid-template-areas: 
  "img img img img img img"
  "txt txt txt txt txt txt";
  border: groove 3px gray;
  
}

.recents-scroll::-webkit-scrollbar {
  display: none;
}

.recents img {
  width: 95%;
  height: 95%;
  grid-area: img;
  margin: auto auto;
}
.recents article {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: txt;
}

.recents p {
  position: relative;
  width: 100%;
  color: white;
  padding-left: 10px;
  /* border: solid 1px white; */

}

.recents a {
  text-decoration: none;
  color: white;
  grid-area: btn;
  font-size: 0.9rem;
  width: 20%;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s ease-in;
  border: solid 1px #3d72a4;
}

.recents a:hover {
  background-color: rgba(211,211,211,0.5);
}

section.blog {
  position: relative;
  width: 1000px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas:
  "blog1"
  "blog2"
  "blog3"
  "blog4"
  "blog5";
  /* border: solid 1px white; */
}

article.one {
  grid-area: blog1;
}

article.two {
  grid-area: blog2;
}

article.three {
  grid-area: blog3;
}

article.four {
  grid-area: blog4;
}

article.five {
  grid-area: blog5;
}

article.post {
  margin-top: 7vh;
  display: grid;
  grid-template-rows: 0.4fr 40px; 1fr 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
  "title title title title title title"
  "banner banner banner banner banner banner"
  ". img img img img ."
  ". img img img img ."
  "txt txt txt txt txt txt"
  "txt txt txt txt txt txt";
  grid-row-gap: 2vh;
  border: groove 15px rgba(255, 255, 255, 0.4);
}

article.post h2 {
  margin: 1% auto;
  width: 50%;
  font-size:2rem;
  position: relative;
  height: 100%;
  grid-area: title;
  color: white;
  text-align: center;
  /* border: solid 1px white; */


}

article.post .banner {
  grid-area: banner;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
  grid-template-areas: 
  "twitter facebook time time";
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  background-color: #3d72a4;
}

article.post figure {
  grid-area: img;
  margin: 3%;
  width: 90%;
  margin: 2% auto;
}

article.post .content {
  grid-area: txt;
  color: white;
  /* border: solid 1px white; */
}

article.post figure img {
  width: 100%;
}

article.post .banner a.twitter {
  grid-area: twitter;
  margin-left: 10px;
}

article.post .banner a.facebook {
  grid-area: facebook;
}



article.post .banner img {
  height: 38px;
  width: 38px;
}

article.post .banner p {
  position: relative;
  grid-area: time;
  color: white;
  font-size: 1rem;
  top: 50%;
  text-align: right;
  
}