
@media only screen and (min-width: 768px) {
  
  header .menu > div > div.twitter,
  header .menu > div > div.linkedin,
  header .menu > div > div.github {
    margin-right: 10vw;
  }
  section.main figure {
    width: 50%;
  }
  section.main section.life-container {
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    grid-column-gap: 5px;
    
  } 
  section.main section.life-container section.passion {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  
  section.main section.life-container section.skating {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  
  section.main section.life-container section.surfing {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  
  section.main section.life-container section.gaming {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  
  section.main section.life-container section.problem {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  
  section.main article {
    width: 50%;
  }
 .main-container {
  grid-template-rows: 7vh 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "pro-1 pro-2"
    "pro-3 pro-4"
    "pro-5 pro-6";
 }
}

@media only screen and (min-width: 992px) {
  
 
  
  section.main section.life-container {
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.3fr 1fr;
    grid-column-gap: 10px;
  } 
  section.main section.life-container section.passion {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
  }
  
  section.main section.life-container section.skating {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  
  section.main section.life-container section.surfing {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  
  section.main section.life-container section.gaming {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
  
  section.main section.life-container section.problem {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
  }

  section.main article {
    width: 50%;
  }

  .main-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas:
      "title title title"
      "pro-1 pro-2 pro-3"
      "pro-4 pro-5 pro-6";
   }
   section .item {
    grid-template-rows: 0.3fr 1fr 0.8fr 0.1fr; 
  }
}
