* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.3;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url(../img/background1.jpeg);
  
}

.main { 
  color: #fff;
  width: 90%;
  height: 100%;
  position: relative;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.main h1 {
  position: relative;
  bottom: 1.5rem;
  top: 0.5rem;
  font-size: 3.5rem;
}
.main h2 {
  position: relative;
  top: 1.0rem;
}

.btn {
  display: inline-block;
  /* background-color: rgba(53, 0, 211, 0); */
  border-radius: 20px;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.3rem 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(211,211,211,0.5);
}