/* main container flexbox */
.main-about {
  width: 90%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background:linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1));
}

header.title {
  position: relative;
  margin-top: 7vh;
  width: 100%;
  margin-bottom: 10px;
  /* border: solid 1px #fff; */
}

header.title h1 {
  position: relative;
  color: white;
  font-size: 3.5rem;
  /* border: solid 1px #fff; */
}
/* section holding my personal image */
section.main-about figure {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  color: white;
  /* border: solid 1px #fff; */
}

section.main-about figure img {
  position: relative;
  width: 60%;
  height: 85%;
  border: groove 3px gray;

}

section.main-about figcaption {
  position: relative;
  width: 60%;
  margin-top: 1%;
  /* border: solid 1px #fff; */
}
/* holding about me text */
section.main-about article {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  /* border: solid 1px #fff; */
}


section.main-about article p {
  position: relative;
  flex-shrink: 1;
  /* border: solid 1px #fff; */
  width: 100%;
  color: white;
}
/* link to projects section of website */
section.main-about article a {
  text-decoration: none;
  color: white;
  border: solid 1px #3d72a4;
  padding: 3px;
  margin: 10px auto;
  border-radius: 20px;
  transition: 0.5s ease-in;
}

section.main-about article a:hover {
  background-color: rgba(211,211,211,0.5);
}
/* grid container holding photos and titles */
section.life-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
  max-width: 100%;
  color: white;
  /* border: solid 1px #fff; */
} 
/* individual grid elements */
section.life-container section.item {
  position: relative;
  overflow: hidden;
}

section.life-container section.passion {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

section.life-container section.skating {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

section.life-container section.surfing {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

section.life-container section.gaming {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

section.life-container section.problem {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}

section.life-container img {
  width: 100%;
  transition: transform 3s;
}

section.life-container h3.text {
  position: relative;
  bottom: 50%;
  z-index: 1;
  color: orange;
  transition: transform 3s;
}

section.passion h1 {
  font-size: 3rem;
}

section.life-container section.item:hover img{
  transform: scale(1.3);
}

section.life-container section.item:hover h3.text {
  transform: scale(1.3);
}