* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  line-height: 1.3;
  width: 100vw;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url(../img/background1.jpeg);
  background-position: center bottom;
}

.whole-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}


/* font for all headings */
h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
}

/* font for information and links */
p,
a {
  font-family: 'Quattrocento', serif;
}

/* home page main container containing name and button */
.main { 
  color: #fff;
  width: 90%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* font size for the home page headings */
.main h1 {
  font-size: 3.5rem;
}
.main h2 {
  font-size: 1.5rem;
}
/* styling for botton on homepage */
.btn {
  border-radius: 20px;
  border: 1px solid #3d72a4;
  color: #fff;
  padding: 0.3rem 0.5rem;
  margin-top: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.btn:hover {
  background-color:  rgba(61, 114, 164, 0.8);
}
/* styling for header which contains the sections for nav menu */
.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 7vh;
  background-color: rgba(0,0,0);
}

/* container that holds the  */
h1.logo {
  position: relative;
  cursor: pointer;
  height: 5vh;
  width: 8vh;
  border-top: solid 0.5vh #3d72a4;
  border-bottom: solid 0.5vh #3d72a4;
  margin-top: 0.5vh;
  margin-left: 2vh;
}
/* styling the anchor tag which is effectively the home button */
h1.logo a {
  position: relative;
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  height: 90%;
  width: 100%;
  font-size: 4vh;
  bottom: 0.5vh;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1rem;
}

/* hamburger button */
.nav-bar .checked-state {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 10%;
  max-width: 50px;
  height: 100%;
  margin-right: 2vh;
  opacity: 0;
}

/* box that contains hamburger */
.nav-bar .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 10%;
  height: 100%;
  max-width: 50px;
  /* padding: 1%; */
  margin-right: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hamburger symbol making the center line*/
.nav-bar .hamburger div {
  position: relative;
  width: 100%;
  max-width: 40px;
  height: 0.5vh;
  background-color: #3d72a4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* making the top and bottom lines */
.nav-bar .hamburger div:before,
.nav-bar .hamburger div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -1.8vh;
  width: 100%;
  height: 0.5vh;
  background: inherit;
  background-color: white;
}
/* moving one of the lines to the top */
.nav-bar .hamburger div:after {
  top: 1.8vh;
}
/* rotates hamburger when button is checked */
.nav-bar .checked-state:checked + .hamburger div {
  transform: rotate(135deg);
}
/* When checked top and bottom hamburger items merge at centre */
.nav-bar .checked-state:checked + .hamburger div:before,
.nav-bar .checked-state:checked + .hamburger div:after {
  top: 0;
  transform: rotate(90deg);
}
/* when checked and  */
.nav-bar .checked-state:checked:hover + .hamburger div {
  transform: rotate(225deg);
}
/* div menu becomes visable when checked */
.nav-bar .checked-state:checked ~ .menu {
  visibility: visible;
}
/* background tinting when checked */
.nav-bar .checked-state:checked ~ body {
  background: linear-gradient(rgba(40, 40, 40, 1), rgba(40, 40, 40, 1)), url(../img/background1.jpeg);
  background-position: center bottom;
}
/* div section in menu grows to normal size when checked */
.nav-bar .checked-state:checked ~ .menu div {
  transform: scale(1);
  transition-duration: 0.3s;
}
/* nav and social buttons opacity = 1 when button checked */
.nav-bar .checked-state:checked ~ .menu div  div,
.nav-bar .checked-state:checked ~ .menu div  nav {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.nav-bar .menu {
  position: fixed;
  background-color: rgba( 40, 40, 40, 0.5);
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.nav-bar .menu > div {
  width: 60vw;
  height: 50vh;
  display: flex;
  flex: none;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  transform: scale(0);
  transition: all 0.4s ease;
}

.nav-bar div.twitter,
.nav-bar div.linkedin,
.nav-bar div.github {
  padding-top: 1vh;
  padding-left: 1vw;
  height: 6vh;
}


.nav-bar div.github {
  margin-right: 25%;
}

.nav-bar .menu img {
  height: 100%;
  width: 100%;
  transition: transform 1s;
}
/* social buttons increase size when hover */
.nav-bar .menu img:hover {
  transform: scale(1.3);
}

.nav-bar nav {
  position: relative;
  text-align: right;
  margin-top: 1vh;
  height: 100%;
  width: 90%;
  opacity: 0;
}
/* styling nav list */
.nav-bar li {
  list-style: none;
  color: #fff;
  font-size: 4vh;
  margin: 2vh;
  padding: 2vw;
  border-radius: 20px;
}

/* styling nav bar anchor elements */
.nav-bar li > a { 
  color: inherit;
  text-decoration: none;
  border-radius: 20px;
  padding: 2vh;
  transition: 0.5s ease-in;
  
} 
/* make navbar highlight when hover */
 .menu li a:hover {
  background-color:  rgba(61, 114, 164, 0.8)
}

footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: rgba( 40, 40, 40, 0.8)
}

footer section.contacts {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;
}


footer section.copyright {
  width: 100%;
  color: white;
  text-align: center;
}